body {

}
ul li{
    list-style:none;
    

}
.cards{
    width: 100%;
    margin: 150px auto 0;
}
.card{
    margin: 10px;

}
.list {
    display: grid;
    grid-template-columns:300px 300px 300px 300px;
    padding:15px;
}

.visitor-section {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

.visitor-count p {
    font-size: 24px;
    font-weight: bold;
}

    .visitor-count p:first-child {
        margin-bottom: 5px;
    }

.submit-button {
    background-color: #8e4d90; /* Your desired background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* Add more styling as needed */
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

    footer a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }